

﻿body {
    /*width: 960px;*/
    margin: 0px auto;
    height: 100vh;
    overflow-y: hidden;
    background-color: lightgray;
}

.ninesixty {
  margin:0 auto;
  width: 960px;
}

.titlebar {
  background-image: linear-gradient(45deg, black, #777, black);
  box-shadow: 0 2px 1px black;
  z-index: 5;
  margin-bottom:2px;
}

.title-logo {
    margin: 10px;
}

*,p {
  font-family: 'Chewy', sans-serif;
  font-size: 40px;
  color: black;
}

p {
  color: #565656;
}

h1,h1>sub {
  color: white;
  font-family: 'Chewy', sans-serif;
}

.title-super {
    font-size: 48px;
    color: white;
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Galada', cursive;*/
    /*font-family: 'Atma', sans-serif;*/
    font-family: 'Chewy', sans-serif;
    /*font-weight: 100;*/
}

.fullpage {
  width: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  /*background-image: linear-gradient(white, #777, black);*/
  background-image: radial-gradient(circle at 35px 10px, #eeeeee, #000);
  margin: 8px;
}

.logo-birds {
  position: absolute;
  left: 60px;
  top:20px;
  margin:0;
}

.stripes {
  margin: 0;
  height: 20px;
  background-color: black;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.container {
  padding: 0;
}

/*.row {
  margin: 0;
}*/

.ContactUs div {
  display:none;
  background-color: #000000;
  position: absolute;
  z-index: 10;
  right: 50px;
  top: 80px;
  box-shadow: 10px 10px 10px black;
  border-radius: 5px;
}

.ContactUs:hover {
  cursor: pointer;
}

.ContactUs:hover>div pre {
  /*border: 5px solid #4ea54e;*/
  background-color: orange;
  margin: 0;
  text-align: left;
  color: white;
}

.ContactUs:hover>div {
  display: inline;
  cursor: pointer;
  /*border: 5px dashed pink;
  box-shadow: 0 0 10px blue;*/
  padding: 0px;
}

footer,footer small {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
}
